@model TestApp.Models.Genre
@{
    ViewBag.Title = "ShowGenre";
}

<h2>ShowGenre</h2>
@Html.LabelFor(m=>m.NameGenre, "Жанр: ")
@Html.DisplayFor(m=>m.NameGenre)
<br />
@Html.LabelFor(m=>m.DescriptionGenre, "Описание: ")
@Html.DisplayFor(m=>m.DescriptionGenre)

