<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
 http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>Ccc</servlet-name>
        <servlet-class>Ccc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ccc</servlet-name>
        <url-pattern>/Ccc</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>F1</filter-name>
        <filter-class>filters.F1</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>F1</filter-name>
        <url-pattern>/Ccc</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>F2</filter-name>
        <filter-class>filters.F2</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>F2</filter-name>
        <url-pattern>/Ccc</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>F3</filter-name>
        <filter-class>filters.F3</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>F3</filter-name>
        <url-pattern>/Ccc</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>F4</filter-name>
        <filter-class>filters.F4</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>F4</filter-name>
        <url-pattern>/jsp/test.jsp</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>listeners.L1</listener-class>
    </listener>
    <listener>
        <listener-class>listeners.L2</listener-class>
    </listener>
    <welcome-file-list>
        <welcome-file>html/index.html</welcome-file>
    </welcome-file-list>
</web-app>