@model IEnumerable<TestApp.Models.Cinema>
@{
    ViewBag.Title = "ChooseCinemaToAddSession";
}

<h2>Выберите кинотеатр, с сеансами которого хотите работать:</h2>
<ul>
    @if (Model != null)
    {
        foreach (var cinema in Model)
        {
            <li><a href="~/Session/AddSession?idCinema=@cinema.IdCinema">@cinema.NameCinema</a></li>
        }
    }
    else
    {
        <li>Добавьте залы для кинотеатров</li>
    }
</ul>

