@model IEnumerable<TestApp.Models.Session>
    @using TestApp.Utils
<div id="searchResult">
    <ul>
        @foreach (var session in Model)
        {
            DateTime begin = session.StartSession;
            DateTime end = session.StartSession.AddMinutes(session.Film.DurationMinutesFilm);
            string endHour = end.Hour.ToString().Length > 1 ? end.Hour.ToString() : "0" + end.Hour.ToString();
            string endMin = end.Minute.ToString().Length > 1 ? end.Minute.ToString() : "0" + end.Minute.ToString();
            <li style="color:blue">@TimerUtil.GetDateTimeString(begin)-@endHour:@endMin
            <p style="color:black">@session.Film.NameFilm</p>
            </li>
        }
    </ul>
</div>
