<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
 http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>Sss</servlet-name>
        <servlet-class>Sss</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sss</servlet-name>
        <url-pattern>/GoSss</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ggg</servlet-name>
        <servlet-class>Ggg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ggg</servlet-name>
        <url-pattern>/GoGgg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Sss2</servlet-name>
        <servlet-class>Sss2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sss2</servlet-name>
        <url-pattern>/GoSss2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ggg2</servlet-name>
        <servlet-class>Ggg2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ggg2</servlet-name>
        <url-pattern>/GoGgg2</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>html/index.html</welcome-file>
    </welcome-file-list>
</web-app>